Lesson 02: Working With Data
===============

As scientists, we often use Python to organize, analyze, and display data in a variety of ways. We'll learn some of the basic techniques you'll need in order to read a data file, ask questions of the data in it, display data in a way that makes sense, and store that information. We're going to take a problem-based approach, and will use data from a real study: [_Pliocene Warmth, Polar Amplification, and Stepped Pleistocene Cooling Recorded in NE Arctic Russia_ by J. Brigham-Grette _et al._](https://www.dropbox.com/s/moscw2rr6ksqgw1/Brigham-Grette2014_Pliocene_Pleistocene_Russia.pdf?dl=0). This is what climatologists call a _multiproxy_ study - a study in which multiple indicators of past climates (proxies) are put together to reconstruct characteristics of that past climate. In the next tutorial, we'll recreate some of Brigham-Grette's graphs and make a few of our own. This time, we'll just explore the data.

Goals of this Notebook
-----------------------
1. Read, store, access, and save data using Python, Numpy, and Pandas
2. Choose data structures appropriate for common tasks, including scalar data types, strings, lists, arrays, and data frames
3. Understand basic Python error messages
4. Load and use Python packages
5. Perform simple mathematical and data organization operations
6. View the contents of variables

Variables
----------
A key piece of the puzzle is understanding how information is stored in a computer's _memory_. We'll sidestep the somewhat more complex issue of how information is stored on you computer's hard disk for now. 

Python stores information in what are called _variables_. I like to think of variables as bins in which Python puts information. every variable can hold a certain type of data. Some variables contain single numbers - integers (`0`, `1`, `2`, ... etc.; could be negative), decimal numbers (e.g. `1.2345`), or characters (e.g. `a`, `3`, `$`, `N`, etc.). _Sequences_ contain multiples of a single type of data. Multiple characters make up a _string_. Both strings and characters usually are identified by single or double quotation marks (e.g. `"this is a string"`; `'Another f#&*ing string.'`; `"X"` is a single character). _Lists_, a special type of sequence, are what they sound like: lists of data of a variety of types, identified by brackets (e.g. `['a', 1, 2.5, -637, 'Hubert']`). Before going much further, let's play with a few data types.

#### Now Try This
1. Run the code block below. Notice that you can use one variable to define the contents of another variable. Also notice that the `print` command outputs the contents of a variable.
2. Modify the code block so that instead of adding `a + b`, you add `a + c`. What happens when you try to add variables with two different types of data? What potentially helpful information does Python give you? Fix the mistake by returning the line to its original state.
3. Modify the code block so that `d` is equal to `a` minus 0.5. You are now subtracting a decimal from an integer. What happens? Do you get the same error for adding integers and decimals?

In [ ]:
a = 1
b = 0
print (a)

c = 'cat'
print (c)

a + b

d = a - 5
print (d)

mylist = [1, 2, -3, 'dog']
print ('My List:',mylist)

Packages
---------
We often want to do things with data that are difficult or complicated to do with standard Python. Other clever programmers have often accomplished these tasks, and made the tools to do them available as _packages_. Packages are somewhat like plug-ins in, say, MS Word: they are extra features that you install after you've set up the main application. 

There are two steps to using a Python package. First, you need to download the package and put it in the right place on your computer. There are two ways to install packages, both from the command line. Suppose you wanted to install the [_Pandas_](https://pandas.pydata.org/) data analysis and management package. (Note that this was likely installed already when you first set up Anaconda.) It's better to use Anaconda's installer, `conda`. To do that, type:
```bash
% conda install pandas
```
Alternatively, you could use the `pip` installer:
```bash
% pip install pandas
```
This might put packages in a different location on your comupter than `conda` does, so it's better to use `conda` when you can.

The second step is to tell the Python interpreter to use the package. We do this in the next block of code using the `import` command.

#### Now Try This
1. Run the next block of code. Make sure there are no error messages.
2. Every command from the Pandas package now starts with the prefix "pd." So `pd.DataFrame` refers to the `DataFrame` command in Pandas.
3. You'll also want to use the [_NumPy_](http://www.numpy.org/) scientific computing package. Add a line to the code block below to import `numpy` as `np`.

In [1]:
import pandas as pd
pd.show_versions()
import numpy as np

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.22.0
pytest: 3.2.1
pip: 9.0.1
setuptools: 38.4.0
Cython: 0.26.1
numpy: 1.13.3
scipy: 1.0.0
pyarrow: None
xarray: None
IPython: 6.1.0
sphinx: 1.6.3
patsy: 0.4.1
dateutil: 2.6.1
pytz: 2018.3
blosc: None
bottleneck: 1.2.1
tables: 3.4.2
numexpr: 2.6.2
feather: None
matplotlib: 2.1.2
openpyxl: 2.4.8
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.0.2
lxml: 4.1.0
bs4: 4.6.0
html5lib: 0.999999999
sqlalchemy: 1.1.13
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

NumPy Arrays
-------------
NumPy is an improvement over many of the mathematical and data-processing tools available in standard Python. One of the main improvements is in NumPy's ability to handle _arrays_ quickly and easily. Arrays, like lists, are sequences. Unlike lists, each array only holds one data type, usually numbers. Arrays can be multi-dimensional, meaning that they can hold 2-D grids of numbers, 3-D blocks, or even more complex structures with multiple dimensions if you need them. The command `np.array()` converts a list to an array.

#### Now Try This
1. Run the code block below. How do you know that B is an array of decimal numbers, whereas A contains integers? What happens when one element of an array is a decimal number?
2. What happens when you add A and B? What happens when you multiply A and B?


You can access a particular element of a list or an array using _indexing_. In indexing, you tell Python which item in a list or an array you want to print, change, or otherwise use. To access the first element of array A, you would type `A[0]`, because the numbering of elements starts at 0. So `A` has items numbered from 0 to 2. In multidimensional arrays, you specify elements using two or more "coordinates": for example `B[1,1]`.

#### Now Try This
1. What do you guess element [2,1] of array B will be? Print out element [2,1] of array B.
2. What error message do you see when you ask Python for A[3]?
3. You can access part of an array by *slicing*, or designating a range of elements. For example, A[0:2] will give an array with the first two elements of A (A[0] and A[1], where the elements are *below 2*). How would you access the bottom right 2x2 grid from array B? 

Array Attributes
-----------------

In addition to their contents, arrays have a set of useful _attributes_, pieces of information about them that you might want to know. Attributes are accessed by a dot and the name of the attribute. Here's a list of some of the useful attributes [here](https://docs.scipy.org/doc/numpy-dev/user/quickstart.html). 

#### Now Try This
1. Find the `shape` (number of rows and columns), `size` (number of elements), and `dtype` (data type) of both arrays B and A. For example, for the shape, type 'A.shape()'.

In [2]:
A = np.array([1, 2, 3])
print (A)

B = np.array([[1, 2, 3],[4, 5, 6],[7,8,9.0]])
print (B)

[1 2 3]
[[ 1.  2.  3.]
 [ 4.  5.  6.]
 [ 7.  8.  9.]]

Pandas Data Frames
-------------------
Pandas is a step above Numpy when it comes to analyzing large datasets with multiple columns of different kinds of information. This is great for Excel files with sample IDs, measurements, times, dates, etc. Data frames are kind of like data tables in publications. Each column has one kind of data in it.

To create a data frame from an array, you just use the `pd.DataFrame()` command:

In [5]:
df_B=pd.DataFrame(B)
print(df_B)

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0

It's more helpful if the columns in your data frame have meaningful names. Let's name them using the `columns` attribute:

In [7]:
df_B.columns=['first','second','third']
print(df_B)

   first  second  third
0    1.0     2.0    3.0
1    4.0     5.0    6.0
2    7.0     8.0    9.0

To access a column, you specify its name in the same way you specify an element in an array: using the `[]` brackets.

In [9]:
print(df_B['third'])

0    3.0
1    6.0
2    9.0
Name: third, dtype: float64

Technically, each column is called a pandas `Series`. We'll just call them columns.

If you want to access a particular element in a data frame, use `.loc[]` or `.iloc[]` as follows:

In [15]:
print(df_B.loc[1,'second'])

5.0

In [18]:
print(df_B.iloc[0,2])

3.0

What's the difference? The `.loc[]` attribute lets you use the names of rows and columns, whereas `.iloc[]` uses indexes (like Numpy does with arrays).

You can use slices with `.loc[]` and `.iloc[]` as well. Note that they work differently with the two attributes!

In [20]:
print(df_B.iloc[1:3,2])

1    6.0
2    9.0
Name: third, dtype: float64

In [24]:
print(df_B.loc[0:1,'first':'second'])

   first  second
0    1.0     2.0
1    4.0     5.0

Reading Data Files in Pandas
------------------------------
One of the great things about pandas is its ability to read files and manipulate them as data frames. This allows you to do the kinds of tasks you do in Excel, but faster. Let's read the Lake Elgygytgyn data file into memory as a data frame. We do this using the `read_csv()` command. This command takes several *parameters* - aspects of the command you need to specify (designated in parentheses):
1. The file name (`'elgygytgyn2013_reconstruction.csv'`). This is the first parameter you specify.
2. The number of rows to skip. This is a *named* parameter: you need to specify "`skiprows=`" to tell pandas to skip this many lines at the beginning of the file. Other useful named parameters include `sep` (column separator; useful if you have something other than commas between the columns in a file), `comment` (set this if you want to skip lines starting with a certain character) and `skipfooter` (skip this many lines at the end).

In [32]:
elgy=pd.read_csv('elgygytgyn2013_reconstruction.csv',skiprows=12)
print(elgy)

     Age [ka BP]  Mean Temperature, warmest month [deg C]  \
0       2150.300                                 5.640586
1       2152.460                                 9.207488
2       2155.000                                10.511760
3       2156.820                                 7.843209
4       2157.310                                10.720896
5       2159.330                                11.119363
6       2160.320                                10.217688
7       2162.620                                11.517836
8       2165.180                                11.804156
9       2167.740                                12.404994
10      2169.170                                12.837006
11      2175.220                                12.327336
12      2177.140                                12.168423
13      2179.050                                12.470264
14      2182.240                                12.741446
15      2183.930                                12.650268
16      2185.620                                12.806875
17      2187.310                                12.816709
18      2189.080                                12.270645
19      2192.000                                12.218701
20      2193.020                                11.717243
21      2196.910                                 9.050066
22      2199.190                                11.477641
23      2201.020                                10.536647
24      2202.680                                11.665339
25      2205.345                                12.038355
26      2207.120                                12.039148
27      2209.780                                12.676553
28      2211.550                                12.504494
29      2213.350                                11.888255
..           ...                                      ...
347     3404.410                                16.737540
348     3405.480                                16.454261
349     3411.530                                16.697976
350     3416.000                                16.614803
351     3417.840                                16.581522
352     3420.630                                12.914661
353     3425.150                                13.851219
354     3428.350                                13.195106
355     3430.800                                15.133177
356     3437.400                                15.891887
357     3445.210                                12.531218
358     3454.770                                15.473760
359     3463.210                                13.016791
360     3467.770                                 9.920290
361     3472.440                                13.216081
362     3478.340                                15.678593
363     3483.330                                13.282589
364     3484.570                                15.684615
365     3492.430                                16.122378
366     3496.790                                15.430420
367     3508.040                                15.753448
368     3510.780                                15.428219
369     3515.710                                16.439388
370     3518.430                                15.251257
371     3523.360                                13.011299
372     3526.400                                15.322983
373     3535.550                                16.300991
374     3541.450                                15.169896
375     3552.770                                12.049301
376     3561.480                                15.689877

     Minimum Mean Temperature, warmest month [deg C]  \
0                                           2.678636
1                                           1.885963
2                                           7.962232
3                                           1.301907
4                                           8.203799
5                                           8.736924
6                                           6.723368
7                                           8.404997
8                                           9.372140
9                                           9.817912
10                                         10.706406
11                                          9.330589
12                                          9.975091
13                                          9.930171
14                                         10.878933
15                                         10.265249
16                                         11.202442
17                                         10.974084
18                                         10.828023
19                                         11.582788
20                                         11.421192
21                                          2.329098
22                                          7.385733
23                                          7.539287
24                                         10.799299
25                                         11.418984
26                                         10.618542
27                                         11.685299
28                                         10.517353
29                                         10.092746
..                                               ...
347                                        15.358932
348                                        15.140938
349                                        15.573217
350                                        15.260324
351                                        15.261901
352                                        10.818804
353                                        10.164776
354                                         9.814812
355                                        12.069606
356                                        14.034197
357                                         5.500000
358                                        12.778169
359                                        10.213754
360                                         7.740428
361                                        10.640471
362                                         8.698485
363                                        10.630669
364                                        15.505810
365                                        15.734821
366                                        12.754212
367                                        15.578930
368                                        12.607821
369                                        15.262727
370                                        11.500000
371                                        10.300000
372                                        12.162873
373                                        13.919873
374                                        12.708565
375                                        10.300000
376                                        10.969776

     Maximum Mean Temperature, warmest month [deg C]  \
0                                          12.178636
1                                          14.785963
2                                          15.062232
3                                          14.201907
4                                          14.503799
5                                          12.136924
6                                          13.823368
7                                          14.704997
8                                          13.472140
9                                          16.017912
10                                         14.806406
11                                         16.130589
12                                         13.375091
13                                         13.330171
14                                         16.778933
15                                         17.065249
16                                         16.802442
17                                         17.074084
18                                         13.328023
19                                         14.082788
20                                         12.221192
21                                         15.229098
22                                         13.685733
23                                         14.639287
24                                         13.999299
25                                         14.618984
26                                         14.018542
27                                         13.385299
28                                         13.917353
29                                         13.892746
..                                               ...
347                                        17.858932
348                                        17.640938
349                                        17.373217
350                                        17.560324
351                                        17.561901
352                                        15.618804
353                                        16.664776
354                                        15.614812
355                                        16.569606
356                                        16.134197
357                                        16.800000
358                                        16.578169
359                                        15.513754
360                                        14.640428
361                                        16.440471
362                                        18.198485
363                                        16.530669
364                                        15.705810
365                                        17.734821
366                                        17.954212
367                                        15.778930
368                                        17.807821
369                                        17.562727
370                                        15.800000
371                                        15.400000
372                                        17.362873
373                                        17.519873
374                                        17.508565
375                                        15.100000
376                                        17.669776

     Precipitation, annual mean [mm]  Minimum Precipitation, annual mean [mm]  \
0                         238.477111                               150.609472
1                         262.107504                               156.246880
2                         260.865459                               208.977058
3                         260.351720                               180.263587
4                         259.293757                               210.501706
5                         269.803083                               226.075946
6                         260.734227                               219.461385
7                         277.003559                               224.170555
8                         270.993506                               230.852064
9                         259.030959                               190.876054
10                        251.668945                               229.521375
11                        275.362289                               208.297980
12                        269.767584                               200.343232
13                        283.300683                               201.359029
14                        292.786410                               199.800605
15                        288.392084                               226.115184
16                        288.284782                               205.534841
17                        291.521727                               192.049625
18                        284.374415                               235.441259
19                        286.736846                               246.381958
20                        285.581447                               256.880359
21                        243.930166                               156.628958
22                        252.852330                               220.528538
23                        281.811852                               219.834566
24                        266.795139                               221.080770
25                        278.660801                               217.206103
26                        284.655727                               227.418374
27                        283.345848                               193.436237
28                        271.756416                               198.591867
29                        278.496421                               240.056330
..                               ...                                      ...
347                       674.827273                               581.037697
348                       671.563817                               585.396889
349                       659.737168                               609.408848
350                       666.845675                               602.858346
351                       700.696439                               616.047690
352                       344.469443                               238.239392
353                       421.733203                               165.352977
354                       427.558867                               228.287773
355                       600.254271                               432.297915
356                       649.420450                               421.842493
357                       556.350876                               327.927000
358                       617.493121                               449.358219
359                       467.579815                               248.419357
360                       338.312292                               171.152123
361                       331.165239                               183.945322
362                       601.282518                               331.048270
363                       391.305892                               254.296385
364                       677.093946                               667.058109
365                       662.049581                               592.320535
366                       592.199596                               312.782961
367                       666.472788                               656.798532
368                       597.415749                               462.727236
369                       638.395850                               582.907484
370                       620.830728                               290.686000
371                       317.766176                               212.119000
372                       621.771942                               497.668850
373                       630.333045                               362.692443
374                       516.306328                               197.615571
375                       372.617990                               212.119000
376                       649.845366                               327.349627

     Maximum Precipitation, annual mean [mm]  Trees & Shrubs [%]  Picea [%]
0                                 347.795471            8.058608    0.000000
1                                 353.432880           20.425532    0.000000
2                                 320.479059           23.484848    0.000000
3                                 329.738587           24.045802    0.000000
4                                 309.687706           43.231441    0.000000
5                                 313.259946           54.183267    0.000000
6                                 293.722385           31.418919    0.000000
7                                 323.356555           54.618474    0.000000
8                                 323.018064           64.960630    0.787402
9                                 460.749054           82.175227    4.229607
10                                269.965375           80.851064    0.000000
11                                342.887980           87.632509    0.000000
12                                317.201232           80.633803    0.000000
13                                332.812029           85.551331    0.380228
14                                319.795605           87.500000    0.000000
15                                320.261184           85.833333    0.416667
16                                322.392841           85.815603    0.000000
17                                320.407625           91.266376    0.000000
18                                305.990259           81.218274    0.000000
19                                316.930958           82.061069    0.000000
20                                327.429360           67.399267    0.000000
21                                316.573958           26.943005    0.000000
22                                312.694538           41.365462    0.000000
23                                331.336566           40.000000    0.000000
24                                295.341770           57.142857    0.000000
25                                328.452103           71.008403    0.000000
26                                318.427374           81.632653    0.000000
27                                324.889237           86.554622    0.000000
28                                330.044867           86.666667    0.350877
29                                331.065330           77.573529    0.000000
..                                       ...                 ...         ...
347                               793.484697           90.612245   19.591837
348                               780.339889           94.964029   25.539568
349                               804.351848           95.275591   14.566929
350                               797.801346           95.261845   22.693267
351                               810.486690           83.653846   16.346154
352                               718.180392           67.222222    2.777778
353                               734.509977           72.180451    6.766917
354                               708.228773           71.428571    6.122449
355                               710.895915           75.418994   11.173184
356                               684.296493           83.766234   13.636364
357                               781.276000           69.642857   16.071429
358                               673.924219           95.454545   47.933884
359                               740.190357           75.000000   20.312500
360                               639.532123           64.673913    5.434783
361                               663.886322           76.884422    5.527638
362                               784.397270           90.322581   35.483871
363                               734.237385           84.883721    9.302326
364                               682.441109           93.562232   20.600858
365                               677.437535           88.127854   25.570776
366                               737.903961           93.527508   38.511327
367                               672.181532           93.721973   20.179372
368                               698.817236           92.086331   34.532374
369                               700.553483           93.277311   24.369748
370                               671.954000           87.203791   15.639810
371                               638.561000           89.552239   11.044776
372                               743.901850           83.471074   41.735537
373                               771.021443           93.506494   10.389610
374                               649.443571           84.905660   28.301887
375                               692.060000           77.272727    4.545455
376                               788.435627           75.862069   17.241379

[377 rows x 9 columns]

...that's a big file. We can just see the first few lines of the data frame using `.head()`:

In [34]:
print(elgy.head())

   Age [ka BP]  Mean Temperature, warmest month [deg C]  \
0      2150.30                                 5.640586
1      2152.46                                 9.207488
2      2155.00                                10.511760
3      2156.82                                 7.843209
4      2157.31                                10.720896

   Minimum Mean Temperature, warmest month [deg C]  \
0                                         2.678636
1                                         1.885963
2                                         7.962232
3                                         1.301907
4                                         8.203799

   Maximum Mean Temperature, warmest month [deg C]  \
0                                        12.178636
1                                        14.785963
2                                        15.062232
3                                        14.201907
4                                        14.503799

   Precipitation, annual mean [mm]  Minimum Precipitation, annual mean [mm]  \
0                       238.477111                               150.609472
1                       262.107504                               156.246880
2                       260.865459                               208.977058
3                       260.351720                               180.263587
4                       259.293757                               210.501706

   Maximum Precipitation, annual mean [mm]  Trees & Shrubs [%]  Picea [%]
0                               347.795471            8.058608         0.0
1                               353.432880           20.425532         0.0
2                               320.479059           23.484848         0.0
3                               329.738587           24.045802         0.0
4                               309.687706           43.231441         0.0

Let's say we wanted to know the range in precipitation between the minimum and maximum, year by year. All you have to do is:

In [38]:
elgy['Maximum Precipitation, annual mean [mm]']-elgy['Minimum Precipitation, annual mean [mm]']

0      197.186
1      197.186
2      111.502
3      149.475
4       99.186
5       87.184
6       74.261
7       99.186
8       92.166
9      269.873
10      40.444
11     134.590
12     116.858
13     131.453
14     119.995
15      94.146
16     116.858
17     128.358
18      70.549
19      70.549
20      70.549
21     159.945
22      92.166
23     111.502
24      74.261
25     111.246
26      91.009
27     131.453
28     131.453
29      91.009
        ...
347    212.447
348    194.943
349    194.943
350    194.943
351    194.439
352    479.941
353    569.157
354    479.941
355    278.598
356    262.454
357    453.349
358    224.566
359    491.771
360    468.380
361    479.941
362    453.349
363    479.941
364     15.383
365     85.117
366    425.121
367     15.383
368    236.090
369    117.646
370    381.268
371    426.442
372    246.233
373    408.329
374    451.828
375    479.941
376    461.086
Length: 377, dtype: float64

In [40]:
elgy['Precipitation Range (mm)']=elgy['Maximum Precipitation, annual mean [mm]']-elgy['Minimum Precipitation, annual mean [mm]']
print(elgy['Precipitation Range (mm)'].head())

0    197.186
1    197.186
2    111.502
3    149.475
4     99.186
Name: Precipitation Range (mm), dtype: float64

...and if we wanted the average, standard deviation, min, and max of all the precipitation ranges?

In [44]:
print('Average: ',elgy['Precipitation Range (mm)'].mean())
print('Std Dev: ',elgy['Precipitation Range (mm)'].std())
print('Min: ',elgy['Precipitation Range (mm)'].min())
print('Max: ',elgy['Precipitation Range (mm)'].max())

Average:  205.96519628647218
Std Dev:  166.0245460289239
Min:  15.383
Max:  582.756

What if we wanted the average amount of tree and shrub pollen in this reconstruction, starting 2.5 million years ago? We'd have to find the slice of the data frame where `Age [ka BP]` is less than 2500:

In [53]:
print(elgy.loc[elgy['Age [ka BP]']<2500.,'Trees & Shrubs [%]'].mean())

56.8791720872578

We can make our request even more ridiculous. What if we wanted to average only the years when the warmest month was over 10$^\circ$ C?

In [54]:
print(elgy.loc[(elgy['Age [ka BP]']<2500.)&(elgy['Mean Temperature, warmest month [deg C]']>10.),'Trees & Shrubs [%]'].mean())

62.35154920481818

### Now Try This
1. Find the average tree/shrub pollen content between 2.5 and 3.0 million years ago.
2. What's *Picea* (look it up)? What are the maximum and minimum values in that column?
3. What years have had over 1% *Picea* content?
4. When did *Picea* reach its maximum?